<main class="py-6">
	<div class="py-20 text-center space-y-12">
		<h1 class="text-7xl text-slate-100 font-bold">Get paid for your efforts!</h1>

		<p class="text-lg text-slate-200">
			This is the website's slogen. Nothing more!
		</p>

		<a href="#" class="py-8 px-12 inline-block text-lg text-white font-bold bg-sky-600 rounded-lg">Create a Page!</a>

	</div>
	<div class="py-12 bg-slate-500">
		<h2 class="mb-12 text-5xl text-slate-100 text-center font-bold">
			Recent Creators
		</h2>
		<div class="px-12 grid grid-cols-4 gap-8">
			<div class="bg-slate-700 rounded-lg">
				<figure>
					<img src="#" class="rounded-lg">
				</figure>
				<div class="py-6 px-8 space-y-6">
					<h2 class="text-xl text-slate-200 font-bold">Milad Hz</h2>
					<p class="text-slate-300">
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut maxime rerum dolores veritatis aliquam assumenda alias iste laboriosam voluptates! Animi nesciunt ducimus minima accusantium vero iste, atque voluptatem a accusamus.
					</p>
					<a href="#" class="py-4 px-6 inline-block text-lg text-white bg-sky-600 rounded-xl">Read more...</a>
				</div>
			</div>
			<div class="bg-slate-700 rounded-lg">
				<figure>
					<img src="#" class="rounded-lg">
				</figure>
				<div class="py-6 px-8 space-y-6">
					<h2 class="text-xl text-slate-200 font-bold">Milad Hz</h2>
					<p class="text-slate-300">
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut maxime rerum dolores veritatis aliquam assumenda alias iste laboriosam voluptates! Animi nesciunt ducimus minima accusantium vero iste, atque voluptatem a accusamus.
					</p>
					<a href="#" class="py-4 px-6 inline-block text-lg text-white bg-sky-600 rounded-xl">Read more...</a>
				</div>
			</div>
			<div class="bg-slate-700 rounded-lg">
				<figure>
					<img src="#" class="rounded-lg">
				</figure>
				<div class="py-6 px-8 space-y-6">
					<h2 class="text-xl text-slate-200 font-bold">Milad Hz</h2>
					<p class="text-slate-300">
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut maxime rerum dolores veritatis aliquam assumenda alias iste laboriosam voluptates! Animi nesciunt ducimus minima accusantium vero iste, atque voluptatem a accusamus.
					</p>
					<a href="#" class="py-4 px-6 inline-block text-lg text-white bg-sky-600 rounded-xl">Read more...</a>
				</div>
			</div>
			<div class="bg-slate-700 rounded-lg">
				<figure>
					<img src="#" class="rounded-tr-lg rounded-tl-lg">
				</figure>
				<div class="py-6 px-8 space-y-6">
					<h2 class="text-xl text-slate-200 font-bold">Milad Hz</h2>
					<p class="text-slate-300">
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut maxime rerum dolores veritatis aliquam assumenda alias iste laboriosam voluptates! Animi nesciunt ducimus minima accusantium vero iste, atque voluptatem a accusamus.
					</p>
					<a href="#" class="py-4 px-6 inline-block text-lg text-white bg-sky-600 rounded-xl">Read more...</a>
				</div>
			</div>
		</div>
	</div>
</main>